body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.personal-info{
    display: flex;
    justify-content:space-around;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
